*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/*MENU*/
.header{
    height: 100px;
    background-color:#222222;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 5px 15px grey;
    height: 100%;
}

.menu{
    display: flex;
    flex-direction: column;
    color: white;
    width: 1024px;
    justify-content: center;
    align-items: flex-end;
}

.ul-flex{
    display: flex;
    align-content: flex-end;
    list-style: none;
    align-content: flex-end;
}

li{
    padding: 10px;
    margin: 10px;
}

.logo{
    padding: 10px;
}
/* FIN MENU */

/*COMIENZO DEL BODY */

body{
    background-color: #E5E5E5;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*BODY Y CONTENEDORES*/

.heroe-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
}

.delivery{
    max-width: 100%;
    background-image: url(../img/delivery.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 350px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.textodelivery{
    color: red;
    font-weight: bold;
}


span{
    color: white;
    font-weight: bold;
}

.podiopizza{
    max-width: 100%;
    background-color: white;
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotopizza{
    width: 92px;
    height: 129px;
}

.titulopodio{
    color: red;
    text-align: center;
}

h4{
    text-align: left;
}

.listayfoto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/*FIN DEL BODY*/

/*FOOTER*/

footer{
    max-width: 100%;
    background-color: #222222;
    color:white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.menufooter{
    list-style: none;
    padding: 20px;
}